body {
    background: rgb(53, 54, 54);
}

body h1{
    text-align: center;
    font-style: bold;
    font-family: "Lucida Console";
}

.topnav {
    background-color: whitesmoke;
    text-align: center;
}